body {
    height: 100%;
    width: 100%;
    min-width: 300px;
    margin: auto;
    position: relative;
    background: var(--background-color-primary);
}

.main-tagunya-pic {
    z-index: -1;
    height: 100%;
    max-height: 912px;
    position: fixed;
    top: 0px;
    right: 120px;
}

.main-tagunya-pic img {
    width: 100%;
    height: 100%;
}

.main-column {
    z-index: 10;
    width: 525px;
    margin-left: 120px;
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.page-title {
    width: 100%;
    margin-top: 100px;
    padding-top: 16px;
    padding-bottom: 16px;
    background: var(--brand-color-primary);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page-title-upside {
    margin-left: auto;
    margin-right: auto;
    color: var(--base-color-secondary);
}

.page-title-downside {
    margin-left: auto;
    margin-right: auto;
    color: var(--base-color-secondary);
}

.concept-description {
    color: var(--base-color-primary);
}

.omukae-and-terms {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.button-omukae {
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    background: var(--background-color-tertiary);
    border-radius: 16px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 16px rgba(167, 166, 187, 0.25);
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.button-omukae:hover {
    background: var(--brand-color-primary);
}

.button-omukae img {
    width: 150px;
    height: 150px;
    margin-left: 32px;
    margin-right: 40px;
}

.omukae-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.omukae-text-upside {
    color: var(--base-color-primary);
}

.button-omukae:hover .omukae-text-upside {
    color: var(--base-color-secondary);
}

.omukae-text-downside {
    border-radius: 8px;
    background: var(--brand-color-primary);
    color: var(--base-color-secondary);
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.button-omukae:hover .omukae-text-downside {
    background: var(--background-color-tertiary);
    color: var(--brand-color-secondary);
}

.terms-link {
    margin-right: auto;
    padding-left: 8px;
    padding-right: 25px;
    color: var(--base-color-primary);
    border-bottom: 2px solid var(--base-color-primary);
    text-decoration: none;
}

.home-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.section-title {
    width: 420px;
    margin-right: auto;
    color: var(--brand-color-secondary);
    padding-left: 20px;
    padding-right: auto;
    border-bottom: 4px solid var(--brand-color-secondary);
}

.chara-prof-detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left: 20px;
}

.chara-prof-item {
    display: flex;
    align-items: center;
}

.item-name-1 {
    margin-right: 64px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    background: var(--brand-color-primary);
    color: var(--base-color-secondary);
    border-radius: 4px;
}

.item-name-2 {
    margin-right: 64px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    background: var(--brand-color-secondary);
    color: var(--base-color-secondary);
    border-radius: 4px;
}

.item-name-3 {
    margin-right: 32px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    background: var(--brand-color-primary);
    color: var(--base-color-secondary);
    border-radius: 4px;
}

.item-data {
    color: var(--base-color-primary);
}

.video-wrapper {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
}

.video-wrapper iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.timeline {
    margin-left: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.timeline-item {
    margin-right: auto;
    display: flex;
    gap: 32px;
}

.timeline-date {
    color: var(--brand-color-primary);
}

.timeline-content {
    color: var(--base-color-primary);
}

.profile-kuma {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.profile-upside {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 32px;
}

.profile-icon {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.profile-icon img {
    width: 120px;
    height: 120px;
}

.profile-name {
    margin-left: auto;
    margin-right: auto;
    color: var(--base-color-primary);
}

.profile-text {
    color: var(--base-color-primary);
}

.fuwanui {
    position: relative;
}

.fuwanui img {
    position: absolute;
    top: -80px;
    left: 0px;
    display: none;
    width: 80px;
    border-radius: 50%;
}

.fuwanui:hover img {
    display: block;
    opacity: 70%;
}

.profile-sns {
    display: flex;
    gap: 32px;
}

.sns-link {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 8px;
    text-decoration: none;
    background: var(--brand-color-primary);
    color: var(--base-color-secondary);
}

.profile-raychan {
    margin-top: 32px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.raychan-name {
    margin-top: auto;
    margin-bottom: auto;
    white-space: nowrap;
    display: inline-block;
    color: var(--base-color-primary);
}

footer {
    margin-top: 64px;
    width: 100%;
    height: 200px;
    background: var(--background-color-secondary);
    position: relative;
}

.footer-terms-link {
    position: absolute;
    bottom: 64px;
    left: 120px;
    padding-left: 8px;
    padding-right: 25px;
    color: var(--base-color-primary);
    border-bottom: 2px solid var(--base-color-primary);
    text-decoration: none;
}

.footer-caption {
    position: absolute;
    bottom: 32px;
    right: 120px;
    color: var(--base-color-primary);
}

@media screen and (min-width: 1200.05px) {
    .main-tagunya-pic {
        right: unset;
        left: 50%;
        transform: translateX(157px);
    }

    .main-column {
        margin-left: calc((100vw - 960px)/2);
    }
}

@media screen and (max-width: 1049.95px) {
    .main-tagunya-pic {
        right: 64px;
        top: 108px;
        max-height: 713px;
        overflow: hidden;
    }

    .main-tagunya-pic img {
        width: unset;
        aspect-ratio: 323 / 912;
    }

    .main-column {
        width: calc(100vw - 400px);
        max-width: 525px;
        margin-left: 64px;
    }

    .page-title {
        margin-top: 32px;
    }

    .button-omukae img {
        margin-left: auto;
    }

    .omukae-text {
        margin-right: auto;
    }
}

@media screen and (max-width: 839.95px) {
    .main-column {
        width: unset;
        max-width: unset;
        margin-right: 64px;
        gap: 32px;
    }

    .concept-description {
        margin-top: 264px;
    }

    .omukae-and-terms {
        gap: 16px;
    }

    .home-section {
        padding-top: 8px;
        padding-bottom: 8px;
        background: rgba(243, 249, 255, 0.05);
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
        border-radius: 32px;
    }

    .section-title {
        width: unset;
        max-width: 420px;
        padding-right: 48px;
    }

    .footer-terms-link {
        left: unset;
        right: 64px;
    }

    .footer-caption {
        right: 64px;
    }
}

@media screen and (max-width: 599.95px) {
    .main-tagunya-pic {
        right: 0px;
    }

    .main-tagunya-pic img {
        width: unset;
        aspect-ratio: 323 / 912;
    }

    .main-column {
        margin-left: 32px;
        margin-right: 32px;
    }

    .button-omukae {
        width: unset;
        padding-left: 32px;
        padding-right: 32px;
        margin-right: auto;
    }

    .button-omukae img {
        display: none;
    }

    .timeline {
        width: unset;
    }

    .profile-upside {
        flex-direction: column;
    }

    .profile-icon {
        align-items: start;
    }

    .profile-name {
        margin-left: 16px;
    }

    .footer-terms-link {
        right: 32px;
    }

    .footer-caption {
        right: 32px;
    }
}
